<footer class="footer-container">
  <div class="footer-content">
    <p class="copyrights">
      <%= t(:footer_copy_rights) %>
    </p>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/fernando-sm/" target="_blank" rel="noreferrer">
        <i class="icon-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/fernando.jsts/" target="_blank" rel="noreferrer">
        <i class="icon-instagram"></i>
      </a>
      <a href="https://github.com/Nandosts" target="_blank" rel="noreferrer">
        <i class="icon-github"></i>
      </a>
    </div>
  </div>
</footer>
