.footer-container {
  color: white;
}

.footer-content {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  align-items: center;
  background: #2b3d41;

  .footer-links {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: 10px;

      &::after {
        content: "";
        width: 0px;
        height: 2px;
        display: block;
        background: white;
        transition: 500ms;
      }
    }
  }
}
