@use "global";
@use "components/navbar";
@use "components/footer";
@use "components/layout";
@use "components/introduction";
@use "components/portfolio";
@use "components/carousel";
@use "components/contact_me";
@use "components/site_show";
@use "components/about";