@use "./fonts";
@use "./defaults";
@use "./variables/colors" as *;
@use "./mixins";

html {
  scroll-behavior: smooth;
}

body {
  background: $cor-fundo-principal;
  background-image: $gradiente-fundo;
  background-attachment: fixed;
  color: $cor-texto-principal;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

