@use "sass:color";
@use "../variables/index.scss" as v;

#introduction {
  @media only screen and (min-width: v.$mobile-devices) {
    --grid-introduction-columns: auto;
  }

  @media only screen and (min-width: v.$tablet-devices) {
    --grid-introduction-columns: 60% 40%;
  }
  display: flex;
  align-items: center;
  min-height: calc(100vh - 5rem);
  width: 100%;

  .introduction-container {
    height: 100% !important;

    display: grid;
    place-content: center;
    justify-items: center;
    grid-template-columns: var(--grid-introduction-columns);
    padding: 0 5%;
  }

  .introduction-text {
    color: white;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: left;
    align-items: flex-start;
    row-gap: 1rem;

    h1 {
      font-family: "Alfa Slab One", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 3.2rem;
    }

    p {
      font-size: 1.25rem;
      font-size: max(1.4vw, 2.2vh);
      line-height: 120%;
      margin-bottom: 1rem;
    }
  }

  .img {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }
  
  .contact-button {
      display: inline-block;
      padding: 12px 24px;
      background-color: #2E8B57; /* SeaGreen - nicer than the previous blue or dark green */
      color: white;
      text-decoration: none;
      border-radius: 25px;
      text-align: center;
      font-weight: bold;
      transition: all 0.3s;
      
      &:hover {
          background-color: color.adjust(#2E8B57, $lightness: 10%);
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      }
  }
}