@use "../variables/index.scss" as v;
main {
  @media only screen and (min-width: v.$mobile-devices) {
    --app-margin: 5rem auto 0;
  }

  @media only screen and (min-width: v.$tablet-devices) {
    --app-margin: 5rem auto 0;
  }
  text-align: center;
  margin: var(--app-margin);
  min-height: 80vh; /* Ensure footer stays down */
}
