@use "sass:color";
@use "../variables/index.scss" as v;

.nav-container {
  @media only screen and (min-width: v.$mobile-devices) {
    --navbar-display: none;
    --sidemenu-display: flex;
  }

  @media only screen and (min-width: v.$tablet-devices) {
    --navbar-display: flex;
    --sidemenu-display: none;
    left: 0;
  }
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999 !important;
  border-bottom: 4px solid white;
  width: 100%;

  .logo {
    display: inline-block;
    width: 50px;
    
    img {
      width: 100%;
      height: auto;
    }
  }

  .nav-content {
    height: 5rem;
    display: var(--navbar-display);
    padding-inline: 5%;
    align-items: center;
    background: #2b3d41;

    .nav-links {
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
      margin-left: 1rem;

      a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px;

        &::after {
          content: "";
          width: 0px;
          height: 2px;
          display: block;
          background: white;
          transition: 500ms;
        }
        
        &:hover::after, &.selected::after {
             width: 100%;
        }
      }

      .selected {
        font-weight: 700;
      }
    }

    .end-buttons {
      display: flex;
      gap: 1rem;
      align-items: center;
      margin-left: auto;
      
      .contact-btn {
          color: white;
          text-decoration: none;
          padding: 8px 16px;
          border: 1px solid white;
          border-radius: 20px;
          transition: all 0.3s ease;
          
          &:hover {
              background-color: white;
              color: #2b3d41;
          }
      }
      
      .locale-btn {
          display: flex;
          align-items: center;
          transition: transform 0.2s;
          
          &:hover {
              transform: scale(1.1);
          }
      }
    }
  }

  .sidemenu {
    display: var(--sidemenu-display);
    justify-content: space-between;
    background-color: #2b3d41;
    padding-inline: 5%;
    height: 5rem;
    align-items: center;

    .hamburger-button {
      background: none;
      border: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
    }

    .sidemenu-overlay {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: #2b3d41;
      transition: right 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      gap: 1rem;

      &.open {
        right: 0;
      }

      .close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        color: white;
        font-size: 3rem;
        cursor: pointer;
      }

      .szot-menu-items {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        li {
          margin: 1rem 0;

          a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
          }

          .contact-btn {
            color: white;
            text-decoration: none;
            padding: 8px 16px;
            border: 1px solid white;
            border-radius: 20px;
            transition: all 0.3s ease;
            
            &:hover {
                background-color: white;
                color: #2b3d41;
            }
        }
        }
      }
    }
  }
}